.bird-details {
  display: flex;
  padding: 1rem;
  border: 1px solid #444;
  width: 100%;
}
.bird-details .card-body{
  display: flex;
}
.bird-details .list-group{
  display: flex;
  flex: 1 1 auto;
}
.bird-details .bird-image{
  margin-right: 10px;
}

@media all and (max-width: 989px) {
  .bird-details .card-body{
    flex-direction: column;
    align-items: center;
  }
  .bird-details .list-group{
    width: 100%;
  }
}

@media all and (max-width: 769px) {
 .bird-details{
   margin-top: 30px;
 }
}
